global:
  baseUrl: http://p236456.webspaceconfig.de
  packagePath: /Packages
  cachePath: /Cache
  lattePath: /Latte
  develoment: yes

database:
  db_driver: mysql
  db_host: db1165.mydbserver.com
  db_name: usr_p236456_1
  db_user: p236456d1
  db_pw: "okuVoxeb+136"

route:
  default:
    vendor: Bonefish
    package: HelloWorld
    controller: Bonefish\HelloWorld\Controller\Controller
    action: index
  notfound:
    vendor: Bonefish
    package: HelloWorld
    controller: Bonefish\HelloWorld\Controller\Controller
    action: index
  notallowed:
    vendor: Bonefish
    package: HelloWorld
    controller: Bonefish\HelloWorld\Controller\Controller
    action: index