global:
  baseUrl: http://p236456.webspaceconfig.de
  packagePath: /Packages
  cachePath: /Cache
  lattePath: /Latte
  logPath: /Log
  develoment: yes

alias:
  \Bonefish\Auth\IAuth: \Bonefish\Auth\NoAuth
  \Bonefish\CLI\ICLI: \Bonefish\CLI\Raptor\Raptor

database:
  db_driver: mysql
  db_host: localhost
  db_name: Bonefish
  db_user: root
  db_pw:

route:
  default:
    vendor: Bonefish
    package: HelloWorld
    controller: Bonefish\HelloWorld\Controller\Controller
    action: index
  notfound:
    vendor: Bonefish
    package: HelloWorld
    controller: Bonefish\HelloWorld\Controller\Controller
    action: index
  notallowed:
    vendor: Bonefish
    package: HelloWorld
    controller: Bonefish\HelloWorld\Controller\Controller
    action: index