global:
  baseUrl: http://127.0.0.1
  lattePath: /Latte
  logPath: /Log
  develoment: yes

implementations:
  \Bonefish\Auth\IAuth: \Bonefish\Auth\NoAuth
  \Bonefish\CLI\ICLI: \Bonefish\CLI\Raptor\Raptor
  \Bonefish\Cache\ICache: \Bonefish\Cache\Cache
  \Bonefish\View\IView: \Bonefish\View\View

database:
  db_driver: mysql
  db_host: localhost
  db_name: Bonefish
  db_user: root
  db_pw:

route:
  default:
    vendor: Bonefish
    package: HelloWorld
    controller: \Bonefish\HelloWorld\Controller\Controller
    action: index
  notfound:
    vendor: Bonefish
    package: HelloWorld
    controller: \Bonefish\HelloWorld\Controller\Controller
    action: index
  notallowed:
    vendor: Bonefish
    package: HelloWorld
    controller: \Bonefish\HelloWorld\Controller\Controller
    action: index