\Bonefish\Reflection\ClassNameResolverInterface: \Bonefish\Reflection\ClassNameResolver
\Bonefish\Router\Request\RequestHandlerInterface: \Bonefish\Router\Request\FastRouteRequestHandler
\Bonefish\Router\Collectors\RouteCollector: \Bonefish\Router\Collectors\CombinedRouteCollector