Bonefish:
    HelloWorld:
        path: av/bonefish-helloworld
    Kickstart:
        path: av/bonefish-kickstart
    Generator:
        path: av/bonefish-generator
    Raptor:
        path: av/raptor
    ORM:
        path: av/bonefish-yetorm
    ACL:
        path: av/bonefish-acl
    Auth:
        path: av/bonefish-auth


