Bonefish:
  HelloWorld:
    path: av/bonefish-helloworld
  Kickstart:
    path: av/bonefish-kickstart
  Generator:
    path: av/bonefish-generator
  Auth:
    path: av/bonefish-auth
  Login:
    path: av/bonefish-login
    autoload: true